.btn{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   
    
}
.btn-main{
    background-color: $color-primary;
    color: $color-txt;
    width: $width-small;
    @media screen and (max-width: $break-large) {
        width: $width-small*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        width: $width-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        width: $width-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        width: $width-small*$scsmall;
    }
    
}
.btn-main__radius{
    border-radius: 10px;
    margin: 10px;
    @media screen and (max-width: $break-large) {
        border-radius: 9px;
        margin: 9px;
    }
    @media screen and (max-width: $break-medium) {
        border-radius: 7.5px;
        margin: 7.5px;
    }
    @media screen and (max-width: $break-semi) {
        border-radius: 6px;
        margin: 6px;
    }
    @media screen and (max-width: $break-small) {
        border-radius: 5px;
        margin: 5px;
    }
}

.btn__left{
    text-align: left;
    margin-left: 100px;
    @media screen and (max-width: $break-large) {
        margin-left: 90px;
    }
    @media screen and (max-width: $break-medium) {
        margin-left: 50px;
    }
    @media screen and (max-width: $break-semi) {
        margin-left: 25px;
    }
    @media screen and (max-width: $break-small) {
        margin-left: 0px;
        text-align: center;
    }
}

.btn__right{
    text-align: right;
    margin-right: 100px;
    @media screen and (max-width: $break-large) {
        margin-right: 90px;
    }
    @media screen and (max-width: $break-medium) {
        margin-right: 50px;
    }
    @media screen and (max-width: $break-semi) {
        margin-right: 25px;
    }
    @media screen and (max-width: $break-small) {
        margin-right: 0px;
        text-align: center;
    }
}

.wiggle :hover{ 
    animation: wiggle 500ms infinite;
    animation-timing-function: linear;   
  }

  @keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); -ms-transform: translate(-3px, 1px) rotate(0deg); -o-transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); -ms-transform: translate(3px, 1px) rotate(-1deg); -o-transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); -ms-transform: translate(-1px, -1px) rotate(1deg); -o-transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); -ms-transform: translate(1px, 2px) rotate(0deg); -o-transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); -ms-transform: translate(1px, -2px) rotate(-1deg); -o-transform: translate(1px, -2px) rotate(-1deg); }
  }
.btn-zoom a{
    transform-origin: 50% 50%;
    transition: transform $animate-zoom;
    overflow: hidden;
    -webkit-transition: transform $animate-zoom;
    -moz-transition: transform $animate-zoom;
    -ms-transition: transform $animate-zoom;
    -o-transition: transform $animate-zoom;
}
.btn-zoom:hover a{
    transform: scale(1.4);
    opacity: 0.8;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.btn-zoom__b a{
    transform-origin: 50% 50%;
    transition: transform $animate-zoom;
    overflow: hidden;
    -webkit-transition: transform $animate-zoom;
    -moz-transition: transform $animate-zoom;
    -ms-transition: transform $animate-zoom;
    -o-transition: transform $animate-zoom;
}
.btn-zoom__b:hover a{
    transform: scale(1.2);
    opacity: 0.8;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}