
header{
    position: sticky;
    width: $width-main;
    text-align: center;
}
main{
    width: $width-main;
    display: flex;
    flex-wrap: wrap;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: $width-main;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-primary;

}
.bot-content{
    background-color: $color-primary;
    width: max-content;
    text-align: center;
    margin: $margin-small;
    border-radius: 10px;
}
.amenu-small{
    background-color: $color-amenu-back;
    width: $width-menu-small;
    height: $height-menu-small;
    margin: $margin-normal $margin-small $margin-small  $margin-normal;
    text-align: center;
    box-shadow: 0 0 5px $color-amenu-gdr-a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bmenu-small{
    background-color: $color-bmenu-back;
    width: $width-menu-small;
    height: $height-menu-small;
    margin: $margin-normal $margin-normal $margin-small $margin-small;
    text-align: center;
    box-shadow: 0 0 5px $color-bmenu-gdr-a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cmenu-small{
    background-color: $color-cmenu-back-a;
    width: $width-menu-small;
    height: $height-menu-small;
    margin:  $margin-small $margin-small $margin-small $margin-normal;
    text-align: center;
    box-shadow: 0 0 5px $color-cmenu-gdr-a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dmenu-small{
    background-color: $color-dmenu-back;
    width: $width-menu-small;
    height: $height-menu-small;
    margin: $margin-small $margin-normal $margin-normal  $margin-small;
    text-align: center;
    box-shadow: 0 0 5px $color-dmenu-gdr-a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}