/*font-family: 'Abhaya Libre', serif;
font-family: 'Alex Brush', cursive;
font-family: 'Handlee', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&family=Alex+Brush&family=Caveat:wght@700&family=Croissant+One&family=Devonshire&family=Handlee&family=Kaushan+Script&family=Montserrat:wght@500;700&display=swap');

p{
    margin: 0px;
}
h1{
    font-family: $primary-font;
    font-weight: bold;
}
.note{
    text-decoration: none;
    font-style: italic;
    transform: rotate(-10deg);
    font-size: $flarge;
    width: $flarge+1;
    margin: auto;
    background-image: linear-gradient(to right, $color-amenu-gdr-a, $color-amenu-gdr-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
    font-size: $flarge*$sclarge;
    width: $flarge*$sclarge+1;
    }
    @media screen and (max-width: $break-medium) {
    font-size: $flarge*$scmedium;
    width: $flarge*$scmedium+1;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $flarge*$scsemi;
        width: $flarge*$scsemi+1;
    }
    @media screen and (max-width: $break-small) {
    font-size: $flarge*$scsmall;
    width: $flarge*$scsmall+1;
    }
}
.main-big--h1{
    font-size: $flarge;
    font-family: $primary-font;
    font-weight: $wbold;
    background-color: $color-primary;
    margin: 0px;
    padding: 0px;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $flarge*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
    }
}
.menu-big--h5{    
    font-size: $fsmall;
    font-weight: $wlight;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fsmall*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
    }
}

.amenu-big__h1{
    font-family: $primary-font-amenu;
    font-size: $flarge;
    font-weight: $wmedium;
    color: $color-amenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*$sclarge;
        margin: $margin-small*$sclarge;

    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $flarge*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.amenu-big__h2{
    font-family: $primary-font-amenu;
    font-size: $fbig;
    font-weight: $wmedium;
    color: $color-amenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.amenu-big__h3{
    font-family: $secondary-font-amenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    color: $color-amenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$scmedium;
    }
    @media screen and (max-width: $break-semi){
        font-size: $fbig*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scsmall;
    }
}
.amenu-big__h4{
    font-family: $secondary-font-amenu;
    font-size: $fnormal;
    font-weight: $wregular;
    color: $color-amenu-txt;
    margin-top: $margin-normal*1.5;
    margin-bottom: $margin-normal*3;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
        margin-top: $margin-normal*1.5*$sclarge;
        margin-bottom: $margin-normal*3*$sclarge;

    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
        margin-top: $margin-normal*1.5*$scmedium;
    margin-bottom: $margin-normal*3*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
        margin-top: $margin-normal*1.5*$scsemi;
        margin-bottom: $margin-normal*3*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
        margin-top: $margin-normal*$scsemi;
    }
}
.amenu__h4{
    font-family: $primary-font-amenu;
    font-size: $fmedium;
    font-weight: $wregular;
    color: $color-amenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$sclarge
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scmedium;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scmedium;
    }
}

.amenu__h3{
    font-family: $secondary-font-amenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    font-style: italic;
    color: $color-amenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scmedium;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scmedium;
    }

}
.bmenu-big__h1{
    font-family: $secondary-font-bmenu;
    font-size: $fbig;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-bmenu-gdr-a, $color-bmenu-gdr-b, $color-bmenu-gdr-c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scsmall;
    }
}
.bmenu-big__h3__a{
    color: $color-bmenu-gdr-a;
    @extend .bmenu-big__h3;
}
.bmenu-big__h3{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal;
    font-weight: $wsemi-bold;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
    }
}
.bmenu-big__h3__b{
    @extend .bmenu-big__h3;
    color: $color-bmenu-gdr-b;
}
.bmenu-big__h3__c{
    color: $color-bmenu-gdr-c;
    @extend .bmenu-big__h3;
}
.bmenu-big__h4{
    font-family: $primary-font-bmenu;
    font-size: $fnormal;
    font-weight: $wregular;
    margin-top: $margin-normal*1.5;
    margin-bottom: $margin-normal*3;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
        margin-top: $margin-normal*1.5*$sclarge;
        margin-bottom: $margin-normal*3*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
        margin-top: $margin-normal*1.5*$scmedium;
        margin-bottom: $margin-normal*3*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
        margin-top: $margin-normal*1.5*$scsemi;
        margin-bottom: $margin-normal*3*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
        margin-top: $margin-normal*1.5*$scsmall;
        margin-bottom: $margin-normal*3*$scsmall;
    }
}

.bmenu-big__h4__a{
    @extend .bmenu-big__h4;
    color: $color-bmenu-gdr-a;
}
.bmenu-big__h4__b{
    @extend .bmenu-big__h4;
    color: $color-bmenu-gdr-b;
}
.bmenu-big__h4__c{
    @extend .bmenu-big__h4;
    color: $color-bmenu-gdr-c;
}
.cmenu-big__h1{
    font-family: $secondary-font-cmenu;
    font-size: $fbig;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-cmenu-gdr-a, $color-cmenu-gdr-b, $color-cmenu-gdr-c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
    }
}
.cmenu-big__h2{
    font-family: $primary-font-cmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    color: $color-cmenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
        margin: $margin-small*$sclarge
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.cmenu-big__h3{
    font-family: $primary-font-cmenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    color: $color-cmenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
        margin:$margin-small*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.cmenu-big__h4{
    font-family: $primary-font-cmenu;
    font-size: $fnormal;
    font-weight: $wregular;
    color: $color-cmenu-txt;
    margin-top: $margin-normal*1.5;
    margin-bottom: $margin-normal*3;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
        margin-top: $margin-normal*1.5*$sclarge;
    margin-bottom: $margin-normal*3*$sclarge;
    
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
        margin-top: $margin-normal*1.5*$scmedium;
    margin-bottom: $margin-normal*3*$scmedium;
    
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
        margin-top: $margin-normal*1.5*$scsemi;
    margin-bottom: $margin-normal*3*$scsemi;
    
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
        margin-top: $margin-normal*1.5*$scsmall;
    margin-bottom: $margin-normal*3*$scsmall;
    
    }
}
.dmenu-big__h1{
    font-family: $primary-font-dmenu;
    font-size: $fbig;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-dmenu-gdr-a, $color-dmenu-gdr-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scsmall;
    }
}
.dmenu-big__h2{
    font-family: $secondary-font-dmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    color: $color-dmenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.dmenu-big__h3{
    font-family: $secondary-font-dmenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    color: $color-dmenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
        margin: $margin-small*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$scmedium;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scsemi;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scsmall;
        margin: $margin-small*$scsmall;
    }
}
.dmenu-big__h4{
    font-family: $secondary-font-dmenu;
    font-size: $fnormal;
    font-weight: $wregular;
    color: $color-dmenu-txt;
    margin-top: $margin-normal*1.5;
    margin-bottom: $margin-normal*3;
        @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
        margin-top: $margin-normal*1.5*$sclarge;
    margin-bottom: $margin-normal*3*$sclarge;
    
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
        margin-top: $margin-normal*1.5*$scmedium;
    margin-bottom: $margin-normal*3*$scmedium;
    
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
        margin-top: $margin-normal*1.5*$scsemi;
    margin-bottom: $margin-normal*3*$scsemi;
    
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
        margin-top: $margin-normal*1.5*$scsmall;
    margin-bottom: $margin-normal*3*$scsmall;
    
    }
}
.bmenu__h4{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-bmenu-gdr-a, $color-bmenu-gdr-b, $color-bmenu-gdr-c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$sclarge;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scmedium;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scmedium;
    }
}

.bmenu__h3{
    font-family: $primary-font-bmenu;
    font-size: $flarge;
    font-weight: $wsemi-bold;
    margin: $margin-small;
    color: $color-bmenu-gdr-a;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*$sclarge;
        margin: $margin-small*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*$sclarge;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $flarge*$scmedium;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*$scmedium;
        margin: $margin-small*$scsmall;
    }
}

.cmenu__h4{
    font-family: $secondary-font-cmenu;
    font-size: $fmedium;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-cmenu-gdr-a, $color-cmenu-gdr-b, $color-cmenu-gdr-c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scmedium;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scmedium;
    }
}
.cmenu__h3{
    font-family: $primary-font-cmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    font-style: italic;
    margin: $margin-small;
    color: $color-cmenu-gdr-b;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$sclarge;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scsmall;
    }
}

.dmenu__h4{
    font-family: $secondary-font-dmenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    background-image: linear-gradient(to right, $color-dmenu-gdr-a, $color-dmenu-gdr-b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scmedium;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scmedium;
    }
}

.dmenu__h3{
    font-family: $primary-font-dmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    margin: $margin-small;
    color: $color-dmenu-gdr-a;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*$sclarge;
        margin: $margin-small*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*$sclarge;
        margin: $margin-small*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*$scmedium;
        margin: $margin-small*$scsmall;
    }
}

.main__h3{
    font-family: $primary-font;
    font-size: $fmedium;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*$scmedium;
    }   
    @media screen and (max-width: $break-semi) {
        font-size: $fmedium*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*$scsmall;
    }
}

.main__h4{
    font-family: $primary-font;
    font-size: $fnormal;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*$sclarge;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*$scmedium;
    }
    @media screen and (max-width: $break-semi) {
        font-size: $fnormal*$scsemi;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*$scsmall;
    }
}