/*font-family: 'Abhaya Libre', serif;
font-family: 'Alex Brush', cursive;
font-family: 'Handlee', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&family=Alex+Brush&family=Caveat:wght@700&family=Croissant+One&family=Devonshire&family=Handlee&family=Kaushan+Script&family=Montserrat:wght@500;700&display=swap');

p{
    margin: 0px;
}
h1{
    font-family: $primary-font;
    font-style: bold;
}
.note{
    text-decoration: none;
    font-style: italic;
    transform: rotate(-10deg);
    font-size: $flarge;
    width: $flarge+1;
    margin: auto;
    background-image: linear-gradient(to right, $color-amenu-gdr-a, $color-amenu-gdr-b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
    font-size: $flarge*0.9;
    width: $flarge*0.9+1;
    }
    @media screen and (max-width: $break-medium) {
    font-size: $flarge*0.75;
    width: $flarge*0.75+1;
    }
    @media screen and (max-width: $break-small) {
    font-size: $flarge*0.5;
    width: $flarge*0.5+1;
    }
}
.main-big--h1{
    font-size: $flarge;
    font-family: $primary-font;
    font-weight: $wbold;
    background-color: $color-primary;
    margin: 0px;
    padding: 0px;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}
.menu-big--h5{    
    font-size: $fsmall;
    font-weight: $wlight;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}

.amenu-big__h1{
    font-family: $primary-font-amenu;
    font-size: $flarge;
    font-weight: $wmedium;
    color: $color-amenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
        margin: $margin-small*0.6;
    }
}
.amenu-big__h2{
    font-family: $primary-font-amenu;
    font-size: $fbig;
    font-weight: $wmedium;
    color: $color-amenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
        margin: $margin-small*0.6;
    }
}
.amenu-big__h3{
    font-family: $secondary-font-amenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    color: $color-amenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*0.5;
        margin: $margin-small*0.6;
    }
}
.amenu-big__h4{
    font-family: $secondary-font-amenu;
    font-size: $fnormal;
    font-weight: $wregular;
    color: $color-amenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*0.5;
    }
}
.amenu__h4{
    font-family: $primary-font-amenu;
    font-size: $fmedium;
    font-weight: $wregular;
    color: $color-amenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*0.5;
    }

}
.amenu__h3{
    font-family: $secondary-font-amenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    font-style: italic;
    color: $color-amenu-txt;
    margin: $margin-small;


}
.bmenu-big__h1{
    font-family: $secondary-font-bmenu;
    font-size: $fbig*0.7;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-bmenu-gdr-a, $color-bmenu-gdr-b, $color-bmenu-gdr-c);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bmenu-big__h3__a{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal*0.74;
    font-weight: $wsemi-bold;
    color: $color-bmenu-gdr-a;
    margin: $margin-small;
}
.bmenu-big__h3__b{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal*0.74;
    font-weight: $wsemi-bold;
    color: $color-bmenu-gdr-b;
    margin: $margin-small;
}
.bmenu-big__h3__c{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal*0.74;
    font-weight: $wsemi-bold;
    color: $color-bmenu-gdr-c;
    margin: $margin-small;
}
.bmenu-big__h4__a{
    font-family: $primary-font-bmenu;
    font-size: $fsmall;
    font-weight: $wregular;
    color: $color-bmenu-gdr-a;
}
.bmenu-big__h4__b{
    font-family: $primary-font-bmenu;
    font-size: $fsmall;
    font-weight: $wregular;
    color: $color-bmenu-gdr-b;
}
.bmenu-big__h4__c{
    font-family: $primary-font-bmenu;
    font-size: $fsmall;
    font-weight: $wregular;
    color: $color-bmenu-gdr-c;
}
.cmenu-big__h1{
    font-family: $secondary-font-cmenu;
    font-size: $fbig;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-cmenu-gdr-a, $color-cmenu-gdr-b, $color-cmenu-gdr-c);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}
.cmenu-big__h2{
    font-family: $primary-font-cmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    color: $color-cmenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*0.5;
        margin: $margin-small*0.6;
    }
}
.cmenu-big__h3{
    font-family: $primary-font-cmenu;
    font-size: $fsmall;
    font-weight: $wsemi-bold;
    color: $color-cmenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fsmall*0.5;
        margin: $margin-small*0.6;
    }
}
.cmenu-big__h4{
    font-family: $primary-font-cmenu;
    font-size: $fsmall;
    font-weight: $wregular;
    color: $color-cmenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fsmall*0.5;
    }
}
.dmenu-big__h1{
    font-family: $primary-font-dmenu;
    font-size: $fbig;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-dmenu-gdr-a, $color-dmenu-gdr-b);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}
.dmenu-big__h2{
    font-family: $secondary-font-dmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    color: $color-dmenu-txt;
    margin: $margin-small;  
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
        margin: $margin-small*0.6;
    }
}
.dmenu-big__h3{
    font-family: $secondary-font-dmenu;
    font-size: $fsmall;
    font-weight: $wsemi-bold;
    color: $color-dmenu-txt;
    margin: $margin-small;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fsmall*0.5;
        margin: $margin-small*0.6;
    }
}
.dmenu-big__h4{
    font-family: $secondary-font-dmenu;
    font-size: $fsmall;
    font-weight: $wregular;
    color: $color-dmenu-txt;
    @media screen and (max-width: $break-large) {
        font-size: $fsmall*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fsmall*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fsmall*0.5;
    }
}
.bmenu__h4{
    font-family: $secondary-font-bmenu;
    font-size: $fnormal;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-bmenu-gdr-a, $color-bmenu-gdr-b, $color-bmenu-gdr-c);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fnormal*0.5;
    }

}
.bmenu__h3{
    font-family: $primary-font-bmenu;
    font-size: $flarge;
    font-weight: $wsemi-bold;
    margin: $margin-small;
    color: $color-bmenu-gdr-a;
    @media screen and (max-width: $break-large) {
        font-size: $flarge*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $flarge*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
        margin: $margin-small*0.6;
    }
}
.cmenu__h4{
    font-family: $secondary-font-cmenu;
    font-size: $fmedium;
    font-weight: $wregular;
    background-image: linear-gradient(to right, $color-cmenu-gdr-a, $color-cmenu-gdr-b, $color-cmenu-gdr-c);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}
.cmenu__h3{
    font-family: $primary-font-cmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    font-style: italic;
    margin: $margin-small;
    color: $color-cmenu-gdr-b;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*0.5;
        margin: $margin-small*0.6;
    }

}
.dmenu__h4{
    font-family: $secondary-font-dmenu;
    font-size: $fmedium;
    font-weight: $wsemi-bold;
    background-image: linear-gradient(to right, $color-dmenu-gdr-a, $color-dmenu-gdr-b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*0.5;
    }
}
.dmenu__h3{
    font-family: $primary-font-dmenu;
    font-size: $fbig;
    font-weight: $wsemi-bold;
    margin: $margin-small;
    color: $color-dmenu-gdr-a;
    @media screen and (max-width: $break-large) {
        font-size: $fbig*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fbig*0.75;
        margin: $margin-small*0.8;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fbig*0.5;
        margin: $margin-small*0.6;
    }

}
.main__h3{
    font-family: $primary-font;
    font-size: $fmedium;
    @media screen and (max-width: $break-large) {
        font-size: $fmedium*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fmedium*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $fmedium*0.5;
    }
}
.main__h4{
    font-family: $primary-font;
    font-size: $fnormal;
    @media screen and (max-width: $break-large) {
        font-size: $fnormal*0.9;
    }
    @media screen and (max-width: $break-medium) {
        font-size: $fnormal*0.75;
    }
    @media screen and (max-width: $break-small) {
        font-size: $flarge*0.5;
    }
}