/*Variables for colors*/
$color-primary: #579c87;
$color-txt: #fdcb46;
$color-back: #fff;
$color-amenu-back: #ffc9c2;
$color-amenu-txt: #3d1319;
$color-amenu-gdr-a: #f15e61;
$color-amenu-gdr-b: #f6916a;
$color-bmenu-gdr-a: #c67412;
$color-bmenu-gdr-b: #a56799;
$color-bmenu-gdr-c: #6e4ccc;
$color-bmenu-back: #fff5fe;
$color-cmenu-gdr-a: #0d31de;
$color-cmenu-gdr-b: #0d74f3;
$color-cmenu-gdr-c: #4eaff7;
$color-cmenu-txt: #0e0f0f;
$color-cmenu-back-a: #f9f9f9;
$color-cmenu-back-b: #edefef;
$color-dmenu-gdr-a: #41963c;
$color-dmenu-gdr-b: #beff7f;
$color-dmenu-txt: #0e0f0f;
$color-dmenu-back: #fdfffd;
$color-accent: #D6FFF5;
$color-white: #fff;
$color-invalid: #DB464B;

/* Variables for font-famely*/
$primary-font: 'Montserrat', sans-serif;
$primary-font-amenu: 'Devonshire', cursive;
$secondary-font-amenu: 'Handlee', cursive;
$primary-font-bmenu: 'Abhaya Libre', serif;
$secondary-font-bmenu: 'Croissant One', cursive;
$primary-font-cmenu: 'Handlee', cursive;
$secondary-font-cmenu: 'Alex Brush', cursive;
$primary-font-dmenu: 'Kaushan Script', cursive;
$secondary-font-dmenu: 'Handlee', cursive;
/*Variables for font weigth*/
$wlight: 300;
$wregular: 400;
$wmedium: 500;
$wsemi-bold: 600;
$wbold: 700;

/*Variables for font size*/
$fsmall: 12px;
$fnormal: 18px;
$fmedium:30px;
$fbig:36px;
$flarge:42px;
/*Variables for width*/
$width-main: 520px;
$width-menu-small: 220px;
$width-menu-big: 350px;
/*Variables for height*/
$height-menu-small: 300px;
/*Variables for margin*/
$margin-small: 15px;
$margin-normal: 25px;
$margin-medium: 40px;
$margin-large: 60px;

/*Variables for animation*/
$animate-underline: all 0.2s ease-in-out;
$animate-zoom: 0.75s cubic-bezier(0.6, -1.60, 0.8, 2.335)